.container {
    display: grid;
    grid-template: 50px 50px / 50px 50px;
    grid-auto-rows: 50px;
    column-gap: 10px;
    row-gap: 30px;
    margin-bottom: 10px;
  }

div div {
    border: 1px solid blue;
    background-color: lightskyblue;
    font-size: 50%;
    text-align: center;
}

.appartment {
    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    background-color: lightblue;
}

#living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

#bathroom {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

#bedroom {
    grid-area: 3 / 1 / 5 / 4;
}

#kitchen {
    grid-row: 3 / 6;
    grid-column: 4 / 6;
}

#closet {
    grid-area: 5 / 1 / 6 / 3;
  }